<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<script src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/wheel_utils.js"></script>
	<script src="/static/js/vue.min.js"></script>
	<link rel="stylesheet" href="/static/iview2/styles/iview.css">
	<script src="/static/iview2/iview.min.js"></script>
	
	<style>
		#app{
			padding:20px;
		}
		.ivu-poptip-body{
			text-align: left;
		}
		.demo-tree-render .ivu-tree-title{
			width: 90%;
		}
		.demo-tree-render button{
			opacity: 0;
			transition: all 0.3s;
		}
		.demo-tree-render button:focus{
			box-shadow: none;
		}
		.demo-tree-render .ivu-tree-title:hover button{
			opacity: 1;
		}
		.api-content{
			width: 100%;
			margin: 5px;
			padding:10px;
			box-shadow: 2px 2px 5px #cecece;
			border-radius: 4px;
			background: white;
		}
	</style>
</head>
<body>
	<div id="app">
		<template>
			<Layout style="height:calc(100vh - 40px);background:white;">
				<Sider hide-trigger :style="{background: '#fff'}" width="300">
					<Tree :data="tree_data" :render="renderContent" class="demo-tree-render"></Tree>
				</Sider>
				<Content :class="show_api.node!=null?'api-content':''">
					<i-button v-if="show_api.node!=null&&show_api.node.node.space=='sys_api'" icon="md-add" @click="addSysApi">添加接口</i-button>
					<i-Input v-if="show_api.node!=null&&show_api.node.node.space=='sys_api'" v-model="show_api.prefix" placeholder="输入接口前缀" style="width:250px;"></i-Input>
					<i-button v-if="show_api.node!=null&&show_api.node.node.space=='sys_api'&&show_api.prefix!=show_api.old_prefix" icon="md-document" @click="savePrefix" type="primary">保存</i-button>
					
					<Upload multiple 
						 v-if="show_api.node!=null&&show_api.node.node.space!='sys_api'"
						action="/sys/api/upload_api" 
						:data="{space:show_api.node.node.space,url:show_api.node.node.s_path,name:show_api.node.node.title}"
						:show-upload-list="false"
						:on-success="uploadSuccess"
						:max-size="10240"
						style="display: inline-block;">
						<i-button icon="md-cloud-upload">上传替换</i-button>
					</Upload>
					<i-button v-if="show_api.node!=null&&show_api.node.node.space!='sys_api'" icon="md-download" @click="downApi">下载{{show_api.node.node.name}}</i-button>
					<i-table
						v-if="show_api.node!=null"
						style="margin-top: 10px;"
						:columns="show_api.columns"
						:data="show_api.data">
						<template slot-scope="{ row, index }" slot="args">
							{{row.args.toString()}}
						</template>
						<template slot-scope="{ row, index }" slot="action">
							<i-button v-if="show_api.node.node.space=='sys_api'" type="primary" size="small" style="margin-right: 5px" @click="eidtApi(index)">编辑</i-button>
							<Poptip
								 v-if="show_api.node.node.space=='sys_api'"
								confirm
								placement="left"
								title="确定要删除吗？"
								@on-ok="delApi(row)"
								@on-cancel="cancel">
								<i-button type="error" size="small">删除</i-button>
							</Poptip>
						</template>
					</i-table>
				</Content>
			</Layout>
			<Modal
				v-model="rename_box"
				title="重命名"
				@on-ok="reNameOk"
				@on-cancel="reNameCancel">
					<i-Input v-model="rename_node_data.title" placeholder="输入新名称"></i-Input>
			</Modal>
			<Modal
				v-if="sys_api_data"
				v-model="sys_api_box"
				title="添加系统接口"
				@on-ok="editApiApiOk"
				@on-cancel="cancel">
					<i-form :model="sys_api_data" :label-width="80" :rules="sys_api_box_rules">
						<Form-Item label="路径" prop="url">
							<i-input type="text" v-model="sys_api_data.url" placeholder="输入请求路径" style="width:200px"></i-input>
						</Form-Item>
						<Form-Item label="接口说明">
							<i-input type="textarea" v-model="sys_api_data.tip" placeholder="输入接口说明" autosize></i-input>
						</Form-Item>
						<Form-Item label="接口类型">
							<i-Select v-model="sys_api_data.type" style="width:200px">
								<i-Option v-for="item in sys_api_type" :value="item.key">{{ item.name }}</Option>
							</i-Select>
						</Form-Item>
						<Form-Item label="编辑">
							<i-button v-if="sys_api_data.type=='db_data'" icon="ios-list-box-outline" @click="editDB">数据接口</i-button>
							<i-Select v-if="sys_api_data.type=='service'" v-model="sys_api_data.ser.name" @on-change="sys_api_data.ser.args=wt.getItemByArr('key',sys_api_data.ser.name,sys_api_sers).args;" style="width:200px">
								<i-Option v-for="item in sys_api_sers" :value="item.key">{{ item.name }}</Option>
							</i-Select>
							<i-input v-if="sys_api_data.type=='upload'" type="text" v-model="sys_api_data.upload.save" placeholder="输入保存位置" style="width:200px"></i-input>
							<i-input v-if="sys_api_data.type=='upload'" type="text" v-model="sys_api_data.upload.url" placeholder="输入访问路径" style="width:200px"></i-input>
							<i-Switch v-if="sys_api_data.type=='upload'" v-model="sys_api_data.upload.uuid" size="large">
								<span slot="open">加ID</span>
								<span slot="close">不加</span>
							</i-Switch>
							<i-input v-if="sys_api_data.type=='upload'" type="textarea" v-model="sys_api_data.upload.format" placeholder="默认返回访问路径，$name、$url代表原文件名和访问路径" autosize></i-input>
						</Form-Item>
					</i-form>
			</Modal>
			<Modal
				v-if="sys_api_data&&sys_api_data.db"
				v-model="sys_db_box"
				title="编辑数据接口"
				@on-ok="editDBOk"
				@on-cancel="cancel"
				width="700">
					<i-form :model="sys_api_data.db" :label-width="80">
						<Form-Item label="数据库">
							<i-Select v-model="sys_api_data.db.name" style="width:200px">
								<i-Option v-for="item in dbs" :value="item.name">{{ item.name }}</Option>
							</i-Select>
						</Form-Item>
						<Form-Item label="操作类型">
							<i-Select v-model="sys_api_data.db.type" style="width:200px">
								<i-Option v-for="item in db_api_type" :value="item.key">{{ item.name }}</Option>
							</i-Select>
						</Form-Item>
						<Form-Item label="数据表" v-if="sys_api_data.db.type!='cus'&&sys_api_data.db.name">
							<i-Select v-model="sys_api_data.db.table" style="width:200px">
								<i-Option v-for="item in wt.getItemByArr('name',sys_api_data.db.name,dbs).struct.tables" :value="item.table_name">{{ item.table_name }}</Option>
							</i-Select>
						</Form-Item>
						<Form-Item label="指定字段" v-if="sys_api_data.db.type!='cus'&&sys_api_data.db.type!='del'&&sys_api_data.db.name&&sys_api_data.db.table">
							<Checkbox-Group v-model="sys_api_data.db.columns">
								<Checkbox v-for="item in wt.getItemByArr('name',sys_api_data.db.name,dbs).struct.table_keys[sys_api_data.db.table]" :label="item.name" border style="margin-bottom: 10px;"></Checkbox>
							</Checkbox-Group>
						</Form-Item>
						<Form-Item label="条件" v-if="sys_api_data.db.type!='cus'&&sys_api_data.db.type!='add'&&sys_api_data.db.name">
							<i-input type="text" v-model="sys_api_data.db.where.sql" placeholder="输入条件sql语句，按{xx}格式替换参数"></i-input>
							<i-button icon="md-add" @click="addWhereArgs" style="margin-top: 10px;">添加参数</i-button>
							<List size="small" style="margin-top:10px;">
								<List-Item v-for="(item,index) in sys_api_data.db.where.args">
									<i-input type="text" v-model="item.name" placeholder="输入参数名" style="width:200px"></i-input>
									<i-button type="text" icon="md-close" @click="delWhereArgs(index)"></i-button>
								</List-Item>
							</List>
						</Form-Item>
						<Form-Item label="分页" v-if="sys_api_data.db.type=='select'&&sys_api_data.db.name">
							<i-Switch v-model="sys_api_data.db.page">
								<span slot="open">开</span>
								<span slot="close">关</span>
							</i-Switch>
						</Form-Item>
						<Form-Item label="排序" v-if="sys_api_data.db.type=='select'&&sys_api_data.db.name">
							<i-Switch v-model="sys_api_data.db.sort">
								<span slot="open">开</span>
								<span slot="close">关</span>
							</i-Switch>
							<br>
							<Radio-Group v-if="sys_api_data.db.sort" v-model="sys_api_data.db.sort_key">
								<Radio v-for="item in wt.getItemByArr('name',sys_api_data.db.name,dbs).struct.table_keys[sys_api_data.db.table]" :label="item.name" border style="margin-top: 10px;"></Radio>
							</Radio-Group>
						</Form-Item>
						<Form-Item label="自定义" v-if="sys_api_data.db.type=='cus'&&sys_api_data.db.name">
							<i-input type="textarea" v-model="sys_api_data.db.cus_sql" placeholder="输入自定义sql语句，{xx}格式设置参数，[xx]格式插入参数" autosize></i-input>
							<i-button icon="md-add" @click="addCusArgs" style="margin-top: 10px;">添加参数</i-button>
							<List size="small" style="margin-top:10px;">
								<List-Item v-for="(item,index) in sys_api_data.db.cus_args">
									<i-input type="text" v-model="item.name" placeholder="输入参数名" style="width:200px"></i-input>
									<i-button type="text" icon="md-close" @click="delCusArgs(index)"></i-button>
								</List-Item>
							</List>
						</Form-Item>
					</i-form>
			</Modal>
        </template>
    </div>
</body>
<script type="text/javascript">
	var vue = new Vue({
		el: '#app',
		data: {
			tree_data: [],
			buttonProps: {
				type: 'text',
				size: 'small',
			},
			rename_box:false,
			rename_node_data:{},
			rename_node_oldname:'',
			show_api:{
				node:null,
				prefix:'',
				old_prefix:'',
				columns:[],
				data:[]
			},
			api_columns:[
				{
					title:'访问路径',
					key:'url'
				},{
					title:'参数',
					key:'args',
					slot:'args'
				},{
					title:'说明',
					key:'tip'
				},{
					title:'操作',
					slot:'action',
					align:'center'
				}
			],
			cus_api_columns:[
				{
					title:'访问路径',
					key:'url'
				},{
					title:'参数',
					key:'args',
					slot:'args'
				},{
					title:'说明',
					key:'tip'
				}
			],
			cus_ser_columns:[
				{
					title:'方法名',
					key:'name'
				},{
					title:'参数',
					key:'args',
					slot:'args'
				},{
					title:'说明',
					key:'tip'
				}
			],
			sys_api_box:false,
			sys_api_box_rules:{
				url:[
					{required: true, message: '路径不能为空！', trigger: 'blur' }
				]
			},
			sys_api_data:null,
			sys_api_index:-1,
			sys_api_info:[],
			new_sys_api_data:{
				type:'',
				url:'',
				tip:'',
				db:{
					name:'',
					type:'',
					table:'',
					mkey:'id',
					mval:'',
					columns:[],
					where:{
						sql:'`id` = {id}',
						args:[{name:'id'}]
					},
					page:false,
					sort:false,
					sort_key:'',
					cus_sql:'',
					cus_args:[]
				},
				ser:{
					name:'',
					args:[]
				},
				upload:{
					save:'',
					suffix:'',
					uuid:false,
					format:''
				}
			},
			sys_api_type:[
				{
					key:'db_data',
					name:'对接数据库'
				},{
					key:'service',
					name:'对接服务'
				},{
					key:'upload',
					name:'上传文件'
				}
			],
			sys_api_sers:[],
			sys_db_box:false,
			dbs:[],
			db_api_type:[
				{
					key:'select',
					name:'查询'
				},{
					key:'add',
					name:'新增'
				},{
					key:'del',
					name:'删除'
				},{
					key:'update',
					name:'更新'
				},{
					key:'cus',
					name:'自定义'
				}
			],
			tables:[]
		},
		mounted() {
			let res=wt.get('/sys/api/get_sys_api_list');
			this.tree_data=res;
			this.dbs=wt.get('/sys/db/get_dbs');
			this.sys_api_sers=wt.get('/sys/api/get_ser_list');
		},
		methods: {
            renderContent (h, { root, node, data }) {
				let node_set={
					icon:'md-cloud-outline',
					title:data.title
				};
				
				if(data.type=='root_node'){
					node_set.icon='md-planet';
				}
				if(data.type=='dir'){
					node_set.icon='ios-folder-open';
				}else{
					if(data.space.indexOf('api')>-1)node_set.title=node_set.title.replace('.js','');
					if(data.space.indexOf('ser')>-1)node_set.title=node_set.title.replace('Service.js','');
				}
				let buttons=[];
				if(data.type!='file'&&data.level<2)buttons.push(
					h('Button', {
						props: Object.assign({}, this.buttonProps, {
							icon: 'ios-folder-outline'
						}),
						style: {
							background: 'transparent',
							color:'#72b9f5'
						},
						on: {
							click: () => { this.append('dir',data) }
						}
					})
				);
				if(data.type!='file')buttons.push(
					h('Button', {
						props: Object.assign({}, this.buttonProps, {
							icon: 'ios-paper-outline'
						}),
						style: {
							background: 'transparent',
							color:'#72b9f5'
						},
						on: {
							click: () => { this.append('file',data) }
						}
					})
				);
				if(node.parent!=undefined)buttons.push(
					h('Poptip',{
						props: {
							confirm:'',
							placement:'left',
							title: '确定要删除吗？'
						},
						on: {
							'on-ok': () => { this.remove(root, node, data) }
						}
					},[
						h('Button', {
							props: Object.assign({}, this.buttonProps, {
								icon: 'md-trash'
							}),
							style: {
								background: 'transparent',
								color:'#f57272'
							}
						})
					])
					
				);
                return h('span', {
                    style: {
                        display: 'inline-block',
                        width: '100%'
                    }
                }, [
                    h('span', [
                        h('Icon', {
                            props: {
                                type: node_set.icon
                            },
                            style: {
                                marginRight: '8px'
                            }
                        }),
                        h('span', {
							domProps:{
								innerHTML:node_set.title
							},
							on:{
								dblclick:()=>{
									if(data.type!='root_node'){
										this.rename_node_data=data;
										if(this.rename_node_data.type=='file'){
											if(this.rename_node_data.space.indexOf('api')>-1)this.rename_node_data.title=this.rename_node_data.title.replace('.js','');
											if(this.rename_node_data.space.indexOf('ser')>-1)this.rename_node_data.title=this.rename_node_data.title.replace('Service.js','');
										}
										this.rename_node_oldname=data.title;
										this.rename_box=true;
									}
								},
								click:()=>{
									if(data.type=='file'){
										if(data.space.indexOf('api')>-1){
											this.updateApiTable(node, data);
										}
										if(data.space.indexOf('ser')>-1){
											this.updateSerTable(node, data);
										}
									}
								}
							}
						})
                    ]),
                    h('span', {
                        style: {
                            display: 'inline-block',
                            float: 'right'
                        }
                    }, buttons)
                ]);
            },
            append (type,data) {
                const children = data.children || [];
				if(type=='dir'){
					let name='新文件夹';
					let res=wt.get('/sys/api/new_file',{space:data.space,url:data.r_path+'/',type:type,name:name});
					if(res=='true'){
						children.push({
							title: name,
							type:type,
							space:data.space,
							r_path:data.r_path+'/'+name,
							s_path:data.r_path,
							level:data.level+1,
							expand: false,
							children:[]
						});
						this.$Message.success('创建成功！');
					}else{
						this.$Message.error('创建失败！'+res.msg);
					}
					
				}
                if(type=='file'){
					let name='';
					let suffix='';
					if(data.space!='cus_ser'){
						name='newCusApi';
						suffix='.js';
					}else{
						name='newCusSer';
						suffix='Service.js';
					}
					let res=wt.get('/sys/api/new_file',{space:data.space,url:data.r_path+'/',type:type,name:name});
					if(res=='true'){
						children.push({
							title: name+suffix,
							type:type,
							space:data.space,
							r_path:data.r_path+'/'+name+suffix,
							s_path:data.r_path,
							level:data.level+1,
							expand: false
						});
						this.$Message.success('创建成功！');
					}else{
						this.$Message.error('创建失败！'+res.msg);
					}
				}
				data.expand=true;
                this.$set(data, 'children', children);
            },
            remove (root, node, data) {
				let res=wt.get('/sys/api/del',{space:data.space,url:data.r_path,type:data.type});
				if(res=='true'){
					if(this.show_api.node&&this.show_api.node.node==node.node)this.show_api.node=null;
					const parentKey = root.find(el => el === node).parent;
					const parent = root.find(el => el.nodeKey === parentKey).node;
					const index = parent.children.indexOf(data);
					parent.children.splice(index, 1);
					this.$Message.success('删除成功！');
				}else{
					this.$Message.error('删除失败！');
				}
            },
			reNameOk() {
				
				let data=this.rename_node_data;
				let suffix='';
				if(data.type=='file'){
					if(data.space.indexOf('api')>-1)suffix='.js';
					if(data.space.indexOf('ser')>-1)suffix='Service.js';
				}
				let res=wt.get('/sys/api/rename',{
						space:data.space,
						url:data.s_path,
						type:data.type,
						old_name:this.rename_node_oldname+suffix,
						new_name:data.title+suffix
					});
				if(res=='true'){
					this.$Message.success('改名成功！');
					data.r_path=data.s_path+'/'+data.title+suffix;
					if(data.type=='dir')setTimeout(function(){
						wt.reload();
					},500);
				}else{
					this.$Message.error('改名失败！');
					this.rename_node_data.title=this.rename_node_oldname;
				}
			},
			reNameCancel() {
				this.rename_node_data.title=this.rename_node_oldname;
			},
			updateApiTable(node, data) {
				let res=wt.get('/sys/api/get_api_info',{space:data.space,url:data.s_path,name:data.title});
				this.show_api.columns=(data.space=='cus_api')?this.cus_api_columns:this.api_columns;
				this.show_api.data=res.apis;
				this.show_api.prefix=res.prefix;
				this.show_api.old_prefix=res.prefix;
				this.show_api.node=node;
				
				if(data.space.indexOf('sys')>-1)this.sys_api_info=wt.get('/sys/api/get_api_sysinfo',{url:data.s_path,name:data.title});
			},
			updateSerTable(node, data) {
				let res=wt.get('/sys/api/get_ser_info',{space:data.space,url:data.s_path,name:data.title});
				this.show_api.columns=this.cus_ser_columns;
				this.show_api.data=res.sers;
				this.show_api.node=node;
				
			},
			eidtApi(index) {
				this.sys_api_index=index;
				this.sys_api_data=this.sys_api_info[index];
				this.sys_api_box=true;
			},
			delApi(index) {
				this.sys_api_info.splice(this.sys_api_index,1);
				let data=this.show_api.node.node;
				let res=wt.get('/sys/api/set_api_sysinfo',{url:data.s_path,name:data.title,info:wt.toSTR(this.sys_api_info)});
				if(res=='true'){
					this.updateApiTable(this.show_api.node,this.show_api.node.node);
				}else{
				}
			},
			cancel() {
			},
			addSysApi() {
				this.sys_api_index=-1;
				this.sys_api_data=wt.clone(this.new_sys_api_data);
				this.sys_api_data.type=this.sys_api_type[0].key;
				this.sys_api_box=true;
			},
			editApiApiOk() {
				if(this.sys_api_index==-1){
					this.sys_api_info.push(this.sys_api_data);
				}else{
					this.sys_api_info.splice(this.sys_api_index,1,this.sys_api_data);
				}
				let data=this.show_api.node.node;
				let res=wt.get('/sys/api/set_api_sysinfo',{url:data.s_path,name:data.title,info:wt.toSTR(this.sys_api_info)});
				if(res=='true'){
					this.updateApiTable(this.show_api.node,this.show_api.node.node);
					this.$Message.success('保存成功！');
				}else{
					this.$Message.error('保存失败！');
				}
			},
			editDB(){
				if(this.sys_api_index==-1){
					this.sys_api_data.db.name=this.dbs[0].name;
					this.sys_api_data.db.type=this.db_api_type[0].key;
					this.sys_api_data.db.table=this.dbs[0].struct.tables[0].table_name;
				}
				this.sys_db_box=true;
			},
			editDBOk(){
				if(this.sys_api_data.db.type=='select'||this.sys_api_data.db.type=='add'||this.sys_api_data.db.type=='update'){
					if(this.sys_api_data.db.columns.length==0){
						
					}
				}
			},
			addWhereArgs(){
				this.sys_api_data.db.where.args.push({
					name:''
				});
			},
			delWhereArgs(index){
				this.sys_api_data.db.where.args.splice(index,1);
			},
			addCusArgs(){
				this.sys_api_data.db.cus_args.push({
					name:''
				});
			},
			delCusArgs(index){
				this.sys_api_data.db.cus_args.splice(index,1);
			},
			savePrefix(){
				let data=this.show_api.node.node;
				let res=wt.get('/sys/api/set_api_sys_prefix',{url:data.s_path,name:data.title,prefix:this.show_api.prefix});
				if(res=='true'){
					this.updateApiTable(this.show_api.node,this.show_api.node.node);
					this.show_api.old_prefix=this.show_api.prefix;
					this.$Message.success('保存成功！');
				}else{
					this.$Message.error('保存失败！');
				}
			},
			downApi(){
				let data=this.show_api.node.node;
				wt.jump('/sys/api/download_api?space='+data.space+'&url='+data.s_path+'&name='+data.title);
			},
			uploadSuccess(){
				if(this.show_api.node.node.space.indexOf('ser')>-1){
					this.updateSerTable(this.show_api.node,this.show_api.node.node);
				}else{
					this.updateApiTable(this.show_api.node,this.show_api.node.node);
				}
				this.$Message.success('上传成功！');
			}
        }
	});
</script>
</html>