<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<script src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/wheel_utils.js"></script>
	<script src="/static/js/vue.min.js"></script>
	<link rel="stylesheet" href="/static/iview2/styles/iview.css">
	<script src="/static/iview2/iview.min.js"></script>
	
	<style>
		#app{
			padding:20px;
		}
		.ivu-poptip-body{
			text-align: left;
		}
	</style>
</head>
<body>
	<div id="app">
		<template>
			<Tabs value="base">
				<Tab-Pane label="基本设置" name="base">
					<i-form v-if="sys_base" :model="sys_base" :label-width="100">
						<Form-Item label="系统标题">
							<i-input type="text" v-model="sys_base.title" placeholder="输入系统标题" style="width:400px"></i-input>
						</Form-Item>
						<Form-Item label="当前域名">
							<i-input type="text" v-model="sys_base.domain" placeholder="输入系统域名" style="width:400px"></i-input>
						</Form-Item>
						<Form-Item label="站长寄语">
							<i-input type="textarea" v-model="sys_base.message" placeholder="写点什么。。" style="width:400px" autosize></i-input>
						</Form-Item>
						<Form-Item label="建站日期">
							<Date-Picker type="datetime" style="width: 160px" format="yyyy-MM-dd" :value="sys_base.begin_time" @on-change="sys_base.begin_time=$event;"></Date-Picker>
						</Form-Item>
						<Form-Item label="备案号">
							<i-input type="text" v-model="sys_base.recode" placeholder="输入备案号" style="width:400px"></i-input>
						</Form-Item>
						<Form-Item label="黑名单">
							<i-input type="textarea" v-model="sys_base.blacklist" placeholder="输入IP黑名单，禁止访问本系统，空格分割" style="width:400px" autosize></i-input>
						</Form-Item>
						<Form-Item label="白名单">
							<i-input type="textarea" v-model="sys_base.whitelist" placeholder="输入IP白名单，指定IP登录后台，空格分割" style="width:400px" autosize></i-input>
						</Form-Item>
						<Form-Item label="会话时间">
							<Input-Number :min="20" :max="180" v-model="sys_base.session_time" :formatter="value => `${value}分钟`"
								:parser="value => value.replace('分钟', '')"></Input-Number>
						</Form-Item>
						<Form-Item label="">
							<i-Button type="primary" @click="save_base">保存</i-Button>
						</Form-Item>
					</i-form>
				</Tab-Pane>
				<Tab-Pane label="邮件服务" name="mail">
					<i-form v-if="sys_email" :model="sys_email" :label-width="100">
						<Form-Item label="邮件服务器">
							<i-input type="text" v-model="sys_email.host" placeholder="输入邮件服务器域名" style="width:400px"></i-input>
						</Form-Item>
						<Form-Item label="登录账号">
							<i-input type="text" v-model="sys_email.user" placeholder="输入服务邮箱的账号" style="width:400px"></i-input>
						</Form-Item>
						<Form-Item label="登录密码">
							<i-input type="password" v-model="sys_email.pass" placeholder="输入服务邮箱的密码" style="width:400px"></i-input>
						</Form-Item>
						<Form-Item label="邮箱地址">
							<i-input type="text" v-model="sys_email.from" placeholder="输入服务邮箱的完整地址" style="width:400px"></i-input>
						</Form-Item>
						<Form-Item label="">
							<i-Button type="primary" @click="save_email">保存</i-Button>
						</Form-Item>
					</i-form>
				</Tab-Pane>
				<!--<Tab-Pane label="短信服务" name="sms"></Tab-Pane>
				<Tab-Pane label="系统通知" name="message"></Tab-Pane>-->
			</Tabs>
        </template>
		
    </div>
</body>
<script type="text/javascript">
	var vue = new Vue({
		el: '#app',
		data: {
			sys_base:null,
			sys_email:null,
			sys_sms:null,
			sys_message:null
		},
		mounted() {
			this.updateSetting();
		},
		methods: {
			updateSetting(){
				let setting=wt.get('/sys/sys/get_setting');
				this.sys_base=setting.sys_base;
				this.sys_email=setting.sys_email;
			},
			save_base(){
				wt.get('/sys/sys/save_setting_base',{base:wt.toSTR(this.sys_base)});
				this.$Message.success('保存成功！');
			},
			save_email(){
				wt.get('/sys/sys/save_setting_email',{email:wt.toSTR(this.sys_email)});
				this.$Message.success('保存成功！');
			}
        }
	});
</script>
</html>