<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<script src="/sys_static/js/jquery-3.3.1.min.js"></script>
	<script src="/sys_static/js/wheel_utils.js"></script>
	<script src="/sys_static/js/vue.min.js"></script>
	<link rel="stylesheet" href="/sys_static/iview2/styles/iview.css">
	<script src="/sys_static/iview2/iview.min.js"></script>
	
	<style>
		#app{
			padding:20px;
			overflow: hidden;
		}
		.ivu-poptip-body{
			text-align: left;
		}
		.sql_card_edit{
			opacity: 0;
			transition: all 0.3s;
		}
		.sql_card:hover .sql_card_edit{
			opacity: 1;
		}
		
		.ov_num{
			display: block;
			text-align: center;
			font-size: 30px;
			line-height: 90px;
			font-weight: bold;
			color: #888888;
		}
		.ov_sz_item{
			box-shadow: 0 0.5px 3px #bdbdbd;
			margin: 10px;
			border-radius: 6px;
			overflow: hidden;
			display: flex;
			background: white;
		}
		.ov_sz_item .ov_sz_icon{
			width: 35%;
			background: #929292;
			font-size: 40px;
			color: white;
			text-align: center;
			line-height: 100px;
		}
		.ov_sz_item .ov_sz_val{
			flex: auto;
		}
		.ov_sz_item .ov_sz_title{
			text-align: center;
			font-size: 14px;
			line-height: 65px;
			height: 50px;
		}
		.ov_sz_item .ov_sz_val .ov_num{
			font-size: 40px;
			font-weight: 100;
			color: #676767;
			height: 50px;
			line-height: 80px;
		}
	</style>
</head>
<body>
	<include src="../component/NumberGrow.html"></include>
	<include src="../component/SqlChart.html"></include>
	<div id="app">
		<template>
			<i-Col v-for="(item,index) in ops_list" :xs="item.size.xs" :sm="item.size.sm" :md="item.size.md" :lg="item.size.lg" :xl="item.size.xl" :xxl="item.size.xxl">
				<Card :bordered="false" style="margin:10px;" class="sql_card">
					<p slot="title">{{item.title}}</p>
					<p slot="extra">
						<a href="#" v-if="!item.console" @click.prevent="addConsole(index)" class="sql_card_edit" style="color: #3ebb93;">
							<Icon type="md-checkmark"></Icon>
							监控台
						</a>
						<a href="#" v-if="item.console" @click.prevent="removeConsole(index)" class="sql_card_edit" style="color: #ef6868;">
							<Icon type="md-close"></Icon>
							监控台
						</a>
						<a href="#" @click.prevent="editOpsCard(index)" class="sql_card_edit">
							<Icon type="md-create"></Icon>
							编辑
						</a>
						<Poptip
							confirm
							placement="left"
							title="确定要删除吗？"
							@on-ok="delOpsCard(index)"
							@on-cancel="cancel">
							<a href="#" class="sql_card_edit" style="color: #ef6868;">
								<Icon type="md-trash"></Icon>
								删除
							</a>
						</Poptip>
					</p>
					<p>
						<template v-if="item.type=='ov'">
							<div v-if="item.charts=='shuzhi'" style="width: 100%;height:370px;">
								<i-Col v-for="(ops_item,index) in item.ops" :xs="24" :sm="24" :md="12" :lg="12">
									<Card style="margin: 0 10px 10px 0px;height:180px;">
										<p slot="title">
											<Icon :type="ops_item.icon"></Icon>
											<span>{{ops_item.title}}</span>
										</p>
										<p>
											<span class="ov_num" :style="{color:ops_item.color}">
												<number-grow :value="initSqlOvData(item,index)"></number-grow>
											</span>
										</p>
									</Card>
								</i-Col>
							</div>
							<div v-if="item.charts=='shuzhi2'" style="width: 100%;height:120px;">
								<i-Col v-for="(ops_item,index) in item.ops" :xs="24" :sm="12" :md="4" :lg="4">
									<div class="ov_sz_item">
										<div class="ov_sz_icon" :style="{background:ops_item.color}">
											<Icon :type="ops_item.icon"></Icon>
										</div>
										<div class="ov_sz_val">
											<span class="ov_num">
												<number-grow :value="initSqlOvData(item,index)"></number-grow>
											</span>
											<div class="ov_sz_title">{{ops_item.title}}</div>
										</div>
									</div>
								</i-Col>
							</div>
						</template>
						<sql-chart v-if="item.type=='sov'||item.type=='ssv'" :data="item" style="width: 100%;height:370px;"></sql-chart>
					</p>
				</Card>
			</i-Col>
			<i-Button shape="circle" icon="md-add" style="margin: 20px;" @click="addOpsCard"></i-Button>
			<Modal
				v-model="edit_ops_box"
				:title="edit_ops_title"
				@on-ok="editOpsCardOk"
				@on-cancel="cancel">
				<i-Form :model="edit_ops_data" :label-width="80">
					<Form-Item label="标题">
						<i-Input v-model="edit_ops_data.title" placeholder="输入面板标题"></i-Input>
					</Form-Item>
					<Form-Item label="占位" v-if="edit_ops_data.size">
						<Tooltip content="xs <576px">
							<Input-Number :max="24" :min="1" v-model="edit_ops_data.size.xs" style="width:60px;"></Input-Number>
						</Tooltip>
						<Tooltip content="sm >=576px">
							<Input-Number :max="24" :min="1" v-model="edit_ops_data.size.sm" style="width:60px;"></Input-Number>
						</Tooltip>
						<Tooltip content="md >=768px">
							<Input-Number :max="24" :min="1" v-model="edit_ops_data.size.md" style="width:60px;"></Input-Number>
						</Tooltip>
						<Tooltip content="lg >=992px">
							<Input-Number :max="24" :min="1" v-model="edit_ops_data.size.lg" style="width:60px;"></Input-Number>
						</Tooltip>
						<Tooltip content="xl >=1200px">
							<Input-Number :max="24" :min="1" v-model="edit_ops_data.size.xl" style="width:60px;"></Input-Number>
						</Tooltip>
						<Tooltip content="xxl >=1600px">
							<Input-Number :max="24" :min="1" v-model="edit_ops_data.size.xxl" style="width:60px;"></Inpu-tNumber>
						</Tooltip>
					</Form-Item>
					<Form-Item label="数据类型">
						<i-Select v-model="edit_ops_data.type" @on-change="changeOpsType">
							<i-Option value="ov">单值</i-Option>
							<i-Option value="sov">多类单值</i-Option>
							<i-Option value="ssv">多类多值</i-Option>
						</i-Select>
					</Form-Item>
					<Form-Item label="数据图表">
						<i-Select v-model="edit_ops_data.charts">
							<i-Option v-for="chart in getOpsCharts(edit_ops_data.type)" :value="chart.val">{{chart.key}}</i-Option>
						</i-Select>
					</Form-Item>
					<Form-Item label="数据源">
						<List size="small">
							<List-Item v-for="(item,index) in edit_ops_data.ops">
								<i-Input v-model="item.title" placeholder="数据标题" style="width:200px;margin-right: 5px;"></i-Input>
								<i-button icon="ios-list-box-outline" @click="editOpsSql(item)" style="margin-right: 5px;">编辑</i-button>
								<span>{{item.xkeys.length}}个字段</span>
								<i-button v-if="edit_ops_data.ops.length>1" type="text" icon="md-close" @click="delOps(index)"></i-button>
							</List-Item>
						</List>
						<i-button v-if="edit_ops_data.type=='ov'&&(edit_ops_data.charts=='shuzhi'&&edit_ops_data.ops.length<4||edit_ops_data.charts=='shuzhi2'&&edit_ops_data.ops.length<6)" icon="md-add" @click="addOps">添加</i-button>
					</Form-Item>
				</i-Form>
			</Modal>
			<Modal
				v-model="edit_sql_box"
				title="编辑数据源"
				@on-ok="editOpsSqlOk"
				@on-cancel="cancel">
				<i-Form :model="edit_sql_data" :label-width="80">
					<Form-Item label="数据库">
						<i-Select v-model="edit_sql_data.db">
							<i-Option v-for="db in db_list" :value="db">{{db}}</i-Option>
						</i-Select>
					</Form-Item>
					<Form-Item label="Icon">
						<i-Input v-model="edit_sql_data.icon" type="textarea" placeholder="输入icon名称" autosize></i-Input>
					</Form-Item>
					<Form-Item label="SQL语句">
						<i-Input v-model="edit_sql_data.sql" type="textarea" placeholder="输入SQL查询语句" autosize></i-Input>
					</Form-Item>
					<Form-Item v-if="edit_ops_data.charts=='zhexian'" label="横坐标">
						<i-Input v-model="edit_sql_data.ykeys" placeholder="字段"></i-Input>
					</Form-Item>
					<Form-Item label="数据字段">
						<List size="small">
							<List-Item v-for="(item,index) in edit_sql_data.xkeys">
								<i-Input v-model="item.key" placeholder="字段" style="margin-right: 5px;"></i-Input>
								<i-Input v-model="item.title" placeholder="标题" style="margin-right: 5px;"></i-Input>
								<i-Input v-if="edit_ops_data.charts=='leida'" v-model="item.max" placeholder="最大值" style="margin-right: 5px;"></i-Input>
								<i-button type="text" icon="md-close" @click="delKey(index)"></i-button>
							</List-Item>
						</List>
						<i-button v-if="edit_ops_data.type!='ov'" icon="md-add" @click="addKey">添加</i-button>
					</Form-Item>
					<Form-Item v-if="edit_ops_data.type=='ov'&&edit_sql_data.color" label="颜色">
						<Color-Picker v-model="edit_sql_data.color" alpha></Color-Picker>
					</Form-Item>
				</i-Form>
			</Modal>
        </template>
    </div>
</body>
<script type="text/javascript">
	var vue = new Vue({
		el: '#app',
		data: {
			dbs:[],
			db_list:[],
			ops_list:[],
			edit_ops_box:false,
			edit_ops_title:'',
			edit_ops_data:{},
			edit_sql_box:false,
			edit_sql_data:{}
		},
		mounted() {
			this.dbs=wt.get('/backstage_api/db/get_dbs');
			for(let i in this.dbs){
				this.db_list.push(this.dbs[i].name);
			}
			this.ops_list=wt.get('/backstage_api/db/get_sql_card');
		},
		methods: {
			addConsole(index) {
				let ops=this.ops_list[index];
				ops.console=true;
				let res=wt.get('/backstage_api/db/save_sql_card',{cards:wt.toSTR(this.ops_list)});
				if(res=='true'){
					this.$Message.success('设置成功！');
				}else{
					this.$Message.error('设置失败！');
				}
			},
			removeConsole(index) {
				let ops=this.ops_list[index];
				ops.console=false;
				let res=wt.get('/backstage_api/db/save_sql_card',{cards:wt.toSTR(this.ops_list)});
				if(res=='true'){
					this.$Message.success('设置成功！');
				}else{
					this.$Message.error('设置失败！');
				}
			},
			addOpsCard() {
				this.edit_ops_title='添加监控面板';
				this.edit_ops_data={
					title:'新监控面板',
					size:{
						xs:24,
						sm:24,
						md:12,
						lg:8,
						xl:8,
						xxl:6
					},
					type:'ov',
					charts:'shuzhi',
					console:false,
					ops:[
						{
							db:this.db_list.length>0?this.db_list[0]:'',
							title:'数据一',
							icon:'ios-pulse',
							sql:'',
							res:[],
							xkeys:[
								{
									key:'',
									title:'',
									max:10
								}
							],
							ykey:'',
							color:'#888888'
						}
					]
				};
				this.edit_ops_box=true;
			},
			editOpsCard(index) {
				this.edit_ops_title='编辑监控面板';
				this.edit_ops_data=this.ops_list[index];
				this.edit_ops_box=true;
			},
			delOpsCard(index) {
				this.ops_list.splice(index,1);
				let res=wt.get('/backstage_api/db/save_sql_card',{cards:wt.toSTR(this.ops_list)});
				if(res=='true'){
					this.$Message.success('删除成功！');
				}else{
					this.$Message.error('删除失败！');
				}
			},
            editOpsCardOk() {
				if(this.edit_ops_title=='添加监控面板')this.ops_list.push(this.edit_ops_data);
				let res=wt.get('/backstage_api/db/save_sql_card',{cards:wt.toSTR(this.ops_list)});
				if(res=='true'){
					this.$Message.success('保存成功！');
				}else{
					this.$Message.error('保存失败！');
				}
			},
			cancel() {
			},
			addOps(){
				this.edit_ops_data.ops.push({
							db:this.db_list.length>0?this.db_list[0]:'',
							title:'',
							sql:'',
							res:[],
							xkeys:[
								{
									key:'',
									title:'',
									max:10
								}
							],
							ykey:'',
							color:'#888888'
						});
			},
			getOpsCharts(type){
				let charts=[];
				if(type=='ov'){
					charts.push({
						val:'shuzhi',
						key:'方块数值显示（4个值）'
					});
					charts.push({
						val:'shuzhi2',
						key:'水平数值显示（1-6个值）'
					});
				}
				if(type=='sov'){
					charts.push({
						val:'zhifang',
						key:'直方图'
					});
					charts.push({
						val:'bingzhuang',
						key:'饼状图'
					});
					charts.push({
						val:'leida',
						key:'雷达图'
					});
				}
				if(type=='ssv'){
					charts.push({
						val:'zhexian',
						key:'折线图'
					});
				}
				return charts;
			},
			changeOpsType(val) {
				this.edit_ops_data.charts=this.getOpsCharts(val)[0].val;
				if(val!='ov'&&this.edit_ops_data.ops.length>1){
					for(let i=this.edit_ops_data.ops.length-1;i>0;i--){
						this.edit_ops_data.ops.splice(i,1);
					}
				}
			},
			delOps(index) {
				this.edit_ops_data.ops.splice(index,1);
			},
			editOpsSql(sqls) {
				this.edit_sql_data=sqls;
				this.edit_sql_box=true;
			},
			editOpsSqlOk() {
				
			},
			addKey() {
				this.edit_sql_data.xkeys.push({
									key:'',
									title:''
								});
			},
			delKey(index) {
				this.edit_sql_data.xkeys.splice(index,1);
			},
			initSqlOvData(item,index) {
				if(item.type=='ov'&&item.ops[index].sql!=''){
					let res=wt.get('/backstage_api/db/get_sql_data',{db:item.ops[index].db,sql:item.ops[index].sql});
					let data=res[0][item.ops[index].xkeys[0].key];
					return data;
				}
			}
        }
	});
</script>
</html>