<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>
	<meta name="description" content="" />
	<style>
		.content{
			margin: 20px;
			text-align: center;
		}
		.content h1{
			font-size: 40px;
			margin-top: 100px;
			margin-bottom: 50px;
		}
		.content p{
			font-size: 18px;
			margin: 10px 0;
		}
		
	</style>
</head>
<body class="bg">
	<div id="app" >
		<include src="/view/template/head.html"></include>
		<div class="content">
			<h1>NaughtyNode</h1>
			<p>欢迎使用！</p>
			<p><a href="https://github.com/jingqimao/NaughtyNode" target="_Blank"><Icon type="logo-github"></Icon> 查看文档和更新</a></p>
			<p>作者QQ：1014351430</p>
		</div>
		<include src="/view/template/footer.html"></include>
	</div>
</body>
<script language="JavaScript">
    new Vue({
        el: '#app',
        data: {
            
        },
		mounted() {
			
		},
        methods: {
            
        }
    })
</script>
</html>